*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
  min-height: 100vh;
}

/* Set padding for the wrapper */
.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* CSS for headings */
header {
  text-align: center;
  padding: 20px;
  padding-top: 0px;
  color: #3B4954;
}

h1, h2 {
  font-weight: 500;
}

/* CSS for the card, header, body and footer */
.card {
  background-color:white;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px 0px;
  color: #3B4954;
  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 40px;
}

.card-header::after {
  display: block;
  width: 100%;
  background-color: #eee9e9;
  height: 2px;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  display: block;
  width: 100%;
  background-color: #eee9e9;
  height: 2px;
}

.card-footer::after {
  display: block;
  clear: both;
}

/* CSS Image for Generate Password Button */
.btn {
  border: none;
  background-color: #9E0508;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 6px 0px rgba(0, 0, 0, 0.2) 0px 1px 1px
    0px;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 14px 34px;
  text-align: center;
  cursor: pointer;
}

/* Float */
.float-right {
  float: right;
}

/* CSS for textarea of the generated password */
#genPassword {
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.2rem;
  text-align: center;
  border: 2px dashed #c0c7cf;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

/* A Media Query max-width: 960px */
@media screen and (max-width: 960px) {
 
    /* Styles for the wrapper div */
        .container {
            width: auto;
            margin: 0 auto;
        }
}
